
body {
    margin: 0;
    padding: 0 0 0 0;
    color: #000;
    background: #69bfdd;
    /*background-image: url(../../imagenes/background1_1.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    font: normal 1.05em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0 0 1px transparent;
}

.contenido{position: absolute;top: 50%;margin-top: -171px; width: 100%;}
.sesion{ 
	width: 450px;
  	border-radius: 30px 30px 30px 30px;
  	-moz-border-radius: 30px 30px 30px 30px;
  	-webkit-border-radius: 30px 30px 30px 30px;
  	border: 4px solid rgba(225,255,255,0.7);
  	overflow: hidden;
  	padding: 23px 55px;
}
.sesion input{width: 100%; padding: 8px; font-size: 15px; margin-bottom: 10px; border: 0;}
.sesion button{width: 100%;border: 0;padding: 8px;background-color: rgba(225,255,255,0.7);color: #fff;font-size: 15px; margin-bottom: 15px;
	-moz-transition: all 2s ease;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}
.sesion button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    -webkit-box-shadow: inset 0 0 0 3px #3a7999;
    -moz-box-shadow: inset 0 0 0 3px #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.sesion a{float: left;}
.sesion .box-title {padding-bottom: 25px;}







/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #69bfdd;
}
.logo{padding:28px 0;}
/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
 /*background-image: url(../../imagenes/background1_1.png);*/
  background: #f6f5d2;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
  /*background-size: 200%;*/
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }





header{
	/*margin: 0;
  	padding: 0 0 0 0;
  	color: #000;*/
  	background-image: url(../../imagenes/background1_1.png);
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	/*font: normal 1.05em/150% 'Arimo', arial, verdana, sans-serif;
  	text-shadow: 0 0 1px transparent;*/
}





/*.contenido{position: absolute;top: 50%;margin-top: -171px; width: 100%;}
.sesion{ 
	width: 450px;
	border-radius: 30px 30px 30px 30px;
	-moz-border-radius: 30px 30px 30px 30px;
	-webkit-border-radius: 30px 30px 30px 30px;
	border: 4px solid rgba(225,255,255,0.7);
	overflow: hidden;
}
.sesion input{width: 100%; padding: 10px 7px; font-size: 15px; margin-bottom: 15px;}
.sesion button{width: 100%;border: 0;padding: 10px 0;background-color: rgba(225,255,255,0.7);color: #fff;font-size: 15px; margin-bottom: 20px;}
.sesion a{float: left;}
.sesion button:hover{}
.sesion .box-title{background-color: rgba(225,255,255,0.7); padding: 10px 0; }
.sesion .box-title h4{margin: 0; color:#fff;}
.sesion .box-title i{color:#fff; font-size: 28px;}
.sesion .box-body{ padding: 50px;}*/

@media (max-width: 991px){
  /* Navigation Menu - Background */
  .navigation {
    /* critical sizing and position styles */
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    
    /* non-critical appearance styles */
    list-style: none;
    background: #111;
  }
}